<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResult="true"
    beStrictAboutOutputDuringTests="true"
    backupGlobals="false"
    colors="true"
    testdox="true"
    processIsolation="false"
    stopOnFailure="true"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Laravel Model Hashid TestSuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <text 
                outputFile="build/coverage.txt"
                showUncoveredFiles="false"
                showOnlySummary="true"
            />
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>

    <logging>
        <junit outputFile="build/junit.xml"/>
        <teamcity outputFile="build/teamcity.txt"/>
        <testdoxHtml outputFile="build/testdox.html"/>
        <testdoxText outputFile="build/testdox.txt"/>
    </logging>
</phpunit>